# Virtual environment
venv/

# Django files
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3

# Environment variables and secrets
.env
.settings_local.py

# Static and media files
staticfiles/
media/

# VSCode project files
.vscode/

